.App {
  text-align: center;
}
body {
  --text: #414856;
  --brown: #B99B6B;
  --white: #f6f7f8;
  --blue: #6096B4;
  --disabled: #C3C8DE;
  min-height: 70vh;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(198, 1%, 29%);
  background: var(--brown);
  font-family: 'Fira Sans', sans-serif;
  text-align: center;
  font-size: 130%;
}

.container {
  height: auto;
  min-height: 70vh;
  max-width: 70vw;
  min-width: 30rem;
  background: var(--white);
  background-size: 1.5rem 1.5rem;
  border-radius: 20px;
  box-shadow: 4px 3px 7px 2px #0f0f0f40;
  padding: 1rem;
  box-sizing: border-box;
}
.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.heading h1 {
  padding: 0.2rem 1.2rem;
  font-size: 1.5rem;
}

.form input {
  box-sizing: border-box;
  background-color: transparent;
  padding: 0.7rem;
  border: solid 3px transparent;
  border-bottom: groove 3px #0f0f0f40;
  font-family: 'Fira Sans', sans-serif;
  font-size: 1rem;
  color: hsla(260, 2%, 25%, 0.7);
  width: 70%;
  margin-bottom: 1.2rem;
}

button {
  margin-left: 0.5rem;
  padding: 0;
  border: none;
  font-family: 'Fira Sans', sans-serif;
  text-decoration: none;
  padding-bottom: 0.15rem;
  border-radius: 5px;
  background-color: #0f0f0f40;
  cursor: pointer;
}
button:hover{
  padding-bottom: 0px;
}
button span {
  background: #f1f5f8;
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 2px solid hsl(198, 1%, 29%);
}
button span:hover{
  background: #0f0f0f40;
}

.line-through {
  text-decoration: line-through;
}

.item-container {
  display: flex;
  justify-content: space-between;
  margin: 1rem 2rem;
}
ion-icon {
  text-align: center;
  padding: 5 0;
}
.trash-icon {
  margin: auto 10px;
  cursor: pointer;
}
.trash-icon:hover {
  color: var(--blue);
}

/* checkbox */
#checklist {
  position: relative;
  display: grid;
  grid-template-columns: 30px auto;
  align-items: center;
}
#checklist label {
  color: var(--text);
  position: relative;
  cursor: pointer;
  display: grid;
  align-items: center;
  width: fit-content;
  transition: color 0.3s ease;
}
#checklist label::before, #checklist label::after {
  content: "";
  position: absolute;
}
#checklist label::before {
  height: 2px;
  width: 8px;
  left: -27px;
  background: var(--blue);
  border-radius: 2px;
  transition: background 0.3s ease;
}
#checklist label:after {
  height: 4px;
  width: 4px;
  top: 8px;
  left: -25px;
  border-radius: 50%;
}
#checklist input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  height: 15px;
  width: 15px;
  outline: none;
  border: 0;
  margin: 0 15px 0 0;
  cursor: pointer;
  background: var(--background);
  display: grid;
  align-items: center;
}
#checklist input[type=checkbox]::before, #checklist input[type=checkbox]::after {
  content: "";
  position: absolute;
  height: 2px;
  top: auto;
  background: var(--blue);
  border-radius: 2px;
}
#checklist input[type=checkbox]::before {
  width: 0px;
  right: 60%;
  transform-origin: right bottom;
}
#checklist input[type=checkbox]::after {
  width: 0px;
  left: 40%;
  transform-origin: left bottom;
}
#checklist input[type=checkbox]:checked::before {
          animation: check-01 0.4s ease forwards;
}
#checklist input[type=checkbox]:checked::after {
          animation: check-02 0.4s ease forwards;
}
#checklist input[type=checkbox]:checked + label {
  color: var(--disabled);
          animation: move 0.3s ease 0.1s forwards;
}
#checklist input[type=checkbox]:checked + label::before {
  background: var(--disabled);
          animation: slice 0.4s ease forwards;
}

@keyframes move {
  50% {
    padding-left: 8px;
    padding-right: 0px;
  }
  100% {
    padding-right: 4px;
  }
}
@keyframes slice {
  60% {
    width: 100%;
    left: 4px;
  }
  100% {
    width: 100%;
    left: -2px;
    padding-left: 0;
  }
}
@keyframes check-01 {
  0% {
    width: 4px;
    top: auto;
    transform: rotate(0);
  }
  50% {
    width: 0px;
    top: auto;
    transform: rotate(0);
  }
  51% {
    width: 0px;
    top: 8px;
    transform: rotate(45deg);
  }
  100% {
    width: 5px;
    top: 8px;
    transform: rotate(45deg);
  }
}
@keyframes check-02 {
  0% {
    width: 4px;
    top: auto;
    transform: rotate(0);
  }
  50% {
    width: 0px;
    top: auto;
    transform: rotate(0);
  }
  51% {
    width: 0px;
    top: 8px;
    transform: rotate(-45deg);
  }
  100% {
    width: 10px;
    top: 8px;
    transform: rotate(-45deg);
  }
}